<div class="device-information">
    <h3>Device Information</h3>
    <table>
      <tr>
          <th>Timestamp</th>
          <th>Activity</th>
      </tr>
      <% activity_history.each do |activity| %>
      <tr id="activity_<%=activity.id%>">
        <td><%= activity.created_at.in_time_zone(current_user.time_zone) %></td>
        <td>
          <%= user_activity_display(activity) %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
